<h1>Stupid Coach</h1>
<div class="you">
<p><%= @question %></p>
<p>- You</p>
</div>
<div class="coach">
<p><%= @answer %></p>
<p>- Coach</p>
</div>
<div class="link">
<%= link_to "Talk to Coach", ask_path %>
</div>
